body {
        font-family: Arial, sans-serif;
        color: White;
        background-color: Purple;
        margin: 0;
        padding: 0;
        line height: 1.0;
        borderline: thick bold line;
}
        
header {
        color: White;
        text-align: center;
}
        
nav {
   color: Red;
   text-decoration: none;
   margin: 0 10px;     
}

nav a:hover {
   text-decoration: underline;  
   color: Red;     
}

main {
     padding: 20px;
     max-width: 600px;
     margin: 0 auto;
     text-align: left;   
}
        
footer {
      background-color: Pink;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;  
}        


















